.App {
  text-align: center;
}

.hero {
  height: 600px;
  background-color: #caf0f8;
}
.services {
  height: 600px;
  background-color: #f5cac3;
}
.blog {
  height: 600px;
  background-color: #d8f3dc;
}
.contact {
  height: 600px;
  background-color: #ffc6ff;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}
